<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321282242177-a6h5noq0g1dskdc2vpu28b8fvbmfmvg1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321282242177-a6h5noq0g1dskdc2vpu28b8fvbmfmvg1</string>
	<key>API_KEY</key>
	<string>AIzaSyDWXHVapZI_c4zytK1KQCH1Tk87_RYqAsk</string>
	<key>GCM_SENDER_ID</key>
	<string>321282242177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.msut.MobileApp</string>
	<key>PROJECT_ID</key>
	<string>vatpayerchecker</string>
	<key>STORAGE_BUCKET</key>
	<string>vatpayerchecker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321282242177:ios:67fd576bc8d3da84fa7f80</string>
</dict>
</plist>